{% extends 'money/layout.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<style>
    h1 {
        margin-left: 23%;
        margin-top: 15px;
        color: crimson;
    }

    p {
        font-size: 18px;
        color: #ffffff;
    }

    hr {
        margin-left: 20%;
        color: rgba(220, 20, 60, 0.96);
        border-width: 5px;
    }

    .cta-button {
        margin-left: 23%;
        margin-top: 15px;
    }

    div p {
        margin-left: 23%;
        margin-top: 15px;
        width: 1100px;
    }
</style>

<h1>Ласкаво просимо до нашого магазину книжок!</h1>
<hr>

<div>
    <p>У нашому магазині ви знайдете великий вибір книжок різних жанрів: художня література, наукова фантастика, фентезі
        та детективи.</p>

    <p>Ми пропонуємо як класичні твори, так і новинки від українських та світових авторів. Ви зможете насолодитися
        захоплюючими історіями та поглибити свої знання в різних сферах.</p>

    <p>Наші книжки відрізняються високою якістю та доступними цінами. Ми прагнемо надати найкращі можливості для вашого
        читання та задоволення.</p>

    <a href="{% url 'books_home' %}" class="btn btn-primary cta-button">Переглянути каталог</a>
</div>

{% endblock %}
